<div class="container mt-3">
    <h2 class="mt-2">Results List</h2>
    <div class="card mt-2">
        <div class="card-body">
            <p><small >Student:&nbsp;</small>{{resultData['student__first_name'] | titlecase}} {{resultData['student__last_name'] | titlecase}}</p>
            <p><small>Staff:&nbsp;</small>{{resultData['student__first_name'] | titlecase}} {{resultData['student__last_name'] | titlecase}}</p>
            <p><small>Created Date :&nbsp;</small>{{resultData['dat_created'] | date}}</p>
            <table class="table table-hover" style="margin: 0;">
                <thead>
                <tr>
                    <th>Subject</th>
                    <th>Grade</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let grade of resultData['json_grade'] | keyvalue">
                        <td>{{grade.value.subject.vchr_name | titlecase}}</td>
                        <td>{{grade.value.grade}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>